@use '../abstracts' as *;
@use '../abstracts/breakpoints' as bp;

.hero-section {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  @include min-width(1023.98px) {
    min-height: calc(100dvh - 120px);
    align-items: flex-end;
    margin-bottom: 11rem;
  }
  .hero-content {
    color: $white
  }
  .slide-text-wrapper {
    @include min-width(1024px) {
      max-width: 56%;
    }
    @include min-width(1280px) {
      max-width: 50%;
    }
    h1 {
      font-family: $font-outfit;
      @include font-size(64);
      font-weight: 500;
      font-style: normal;
      line-height: 1.2;
      text-shadow: 8px 8px 24px rgba(0, 0, 0, 0.4);
      @include max-width(1280px) {
        @include font-size(56);
      }
      @include max-width(1024px) {
        @include font-size(48);
      }
      @include max-width(991.98px) {
        @include font-size(36);
      }
    }
    .lead {
      line-height: 1.6;
      font-weight: 400;
      margin-bottom: 24px;
      @include max-width(991.98px) {
        @include font-size(18);
        line-height: 1.4;
      }
    }
    .btn {
      @include max-width(1023.98px) {
        padding: 10px 40px;
      } 
    }
  }
}