@use '../abstracts' as *;

#packages {
  background-color: $indigo-black;
}

.packages-list {
  @include left-blue-strip;
  counter-reset: custom-counter;
  padding-left: 0;
  margin: 40px 0;
  .package-item {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 8em;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &::before {
      content: counter(custom-counter);
      position: absolute;
      left: 40px;
      font-weight: 300;
      width: 52px;
      font-family: 'Outfit';
      height: 52px;
      background-color: $dark-slate-blue;
      border-radius: 50%;
      border: 3px solid $white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.25rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}