@use '../abstracts' as *;

.search-block {
  padding: 10px 0 10px 40px;
  .fa-search {
    color: $black-stallion;
    @include font-size(22);
  }
  @include max-width(991.98px) {
    margin: 0 20px 0 auto;
  }
}

header {
  &.scrolled-header { 
    .search-block {
      .fa-search {
        color: $white;
      }
    }
  }
}