$breakpoints: (
  xxl-min: 1400px,
  xl-min: 1200px,
  lg-min: 992px,
  md-min: 768px,
  sm-min: 576px,
  xs-min: 480px,
  xxl-max: 1399.98px,
  xl-max: 1199.98px,
  lg-max: 991.98px,
  md-max: 767.98px,
  sm-max: 575.98px,
  xs-max: 479.98px,
);