$white: #ffffff;
$black: #000000;
$black-stallion: #0F1922;
$indigo-black: #012E4D;
$starleft-blue: #0097FF;
$sky-captain: #222a34;
$dark-slate-blue: #204764;
$super-silver: #eeeeee;
$blue-anthracite: #575e64;
$blue-nebula: #17A9FD;
$blue-karimun: #1D9BF0;
$blue-diamond: #0A66C2;
$medium-red-violet: #C13584;
$red: #ff0000;

//font-family variable
$font-inter: 'Inter', sans-serif;
$font-outfit: 'Outfit', sans-serif;